<form method="post" class="signup-form" action="{% url 'authusers:signup' %}">
    {% csrf_token %}
    <div>
        <label>Email</label>
        <input type="email" name="email" required />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" required />
    </div>
    <div>
        <label>Confirm Password</label>
        <input type="password" name="confirm_password" required />
    </div>
    <div>
        <button type="submit">Signup</button>
    </div>
</form>
