{% extends "base.html" %} {% load static %} {% load markdown_filter %} {% block head %}
<style>
  {{ blog.custom_styles }}
</style>
{% endblock %} {% block body %}
<header>
  <h1 class="blog-title">{{ blog.title }}</h1>
  {% if blog.navbar %}
  <nav class="blog-nav">{{ blog.navbar|md2html|safe }}</nav>
  {% endif %}
</header>
<main>
  <h2>Posts</h2>
  {% if posts %}
  <ul class="post-list">
    {% for post in posts %}
    <li class="post-item">
      <a href="{{ post.link }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <span>No posts posted.</span>
  {% endif %}
</main>
{% endblock %}
