{% extends "base.html" %} {% load static %} {% load markdown_filter %} {% block head %}
<script src="{% static 'js/audioplayer.js' %}"></script>
<style>
  {{ blog.custom_styles }}
</style>
{% endblock %} {% block body %}
<header>
  <h1 class="blog-title">{{ blog.title }}</h1>
  {% if blog.navbar %}
  <nav class="blog-nav">{{ blog.navbar|md2html|safe }}</nav>
  {% endif %}
</header>
<main>
  <h2>Uploads</h2>
  {% if uploads %}
  <ul class="upload-list">
    {% for upload in uploads %}
    <li class="upload-item">
      {% if upload.custom_music_player_styles %}
      <audio-player host-style="{{ upload.custom_music_player_styles }}" trackname="{{ upload.name }}" filename="{{ upload.filename }}" src="{{ upload.url }}" type="{{ upload.content_type }}" audio-id="{{ upload.id }}"> </audio-player>
      {% else %}
      <audio-player trackname="{{ upload.name }}" filename="{{ upload.filename }}" src="{{ upload.url }}" type="{{ upload.content_type }}" audio-id="{{ upload.id }}"> </audio-player>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <span>No uploads uploaded.</span>
  {% endif %}
</main>
{% endblock %}
