{% extends "base.html" %} {% load static %} {% load markdown_filter %} {% block head %}
<style>
  {
      {
      blog.custom_styles
    }
  }
</style>
{% endblock %} {% block body %}
<header>
  <h1 class="blog-title">{{ blog.title }}</h1>
  {% if blog.navbar %}
  <nav class="blog-navbar">{{ blog.navbar|md2html|safe }}</nav>
  {% endif %}
</header>
<main>{% block blog_main %} {{ blog.html|safe }} {% endblock %}</main>
<footer><small>powered by <a href="http://band.local:8000">band.dev</small></footer>
{% endblock %}
