{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}" />
{% endblock %} {% block body %} {% include "_partials/navbar.html" %}
<main>
  <h1>Verify Account</h1>
  {% if success %}
  <p>Thank you! You're account is now verified. Feel free to go back <a href="{% url 'home'%}">home</a>.</p>
  {% else %}
  <!-- TODO (willmeyers): update support link -->
  <p>There was an error trying to verify your account. Please contact support</p>
  {% endif %}
</main>
{% endblock %}
