{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %} {% block body %} {% include "_partials/navbar.html" %}
<main>
  {% if not user.is_verified %}
  <div>You must verify your email address before you can upload any music. <a href="{% url 'authusers:send_activate_account_email'%}">Click here to verify.</a></div>
  {% endif %} {% include "authusers/_partials/dashboard_navbar.html" %}
  <div>
    <form method="post" class="blog-dashboard-form">
      <div>
        <a href="{{ blog.href }}">
          <button type="button">view site</button>
        </a>
        <button type="submit">publish site</button>
      </div>
      {% csrf_token %}
      <div class="form-control">
        <label for="navbar">Navbar</label>
        <input type="text" id="navbar" name="navbar" value="{% if blog.navbar %}{{ blog.navbar }}{% endif %}" />
        <details>
          <summary>Navbar help</summary>
          <pre>
Use space-seperated markdown links to create a navigation bar for your blog.
i.e. [Home](/) [Posts](/posts) [Uploads](/uploads) [Spotify](https://...) [YouTube](https://...)
          </pre>
        </details>
      </div>
      <div class="form-control">
        <textarea name="content">{{ blog.content }}</textarea>
        <details>
          <summary>Blog help</summary>
          <pre>
You can set these attributes above within the "---"s.
---
title: the title of your blog (required)
band_domain: my-subdomain.band.dev (optional)
custom_domain: mycustomdomain.com (optional)
meta_image: meta image of this post (optional)
meta_description: meta description of this post (optional)
lang: spoken language of your site (optional)
is_discoverable: allow this blog to be discovered on the discover page, true/false (optional)
---
          </pre>
        </details>
      </div>
    </form>
  </div>
</main>
{% endblock %}
