{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/editor.css' %}" />
{% endblock %}

{% block body %}
{% include "_partials/navbar.html" %}
<main>
    {% include "authusers/_partials/dashboard_navbar.html" %}
    <div>
        <form method="post" onsubmit="return copyContent()">
            {% csrf_token %}
            <div>
                <label>Select an Existing Theme<label>
            </div>
            <button type="submit">Apply</button>
        </form>
        <form method="post" onsubmit="return copyContent()">
            {% csrf_token %}
            <div>
                <label>Custom Styles</label>
                <textarea id="custom-stylesheet" name="custom_stylesheet">{{ blog.custom_stylesheet }}</textarea>
            </div>
            <button type="submit">Publish</button>
        </form>
    </div>
    <script>
    </script>
</main>
{% endblock %}
