{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %} {% block body %} {% include "_partials/navbar.html" %}
<main>
  {% include "authusers/_partials/dashboard_navbar.html" %}
  <div>
    <form method="post" class="blog-dashboard-form">
      {% csrf_token %}
      <div class="form-control">
        <label>Select an Existing Theme</label>
        <div>
          <input type="radio" />
        </div>
      </div>
      <div>
        <button type=" submit">Apply</button>
      </div>
    </form>
    <hr />
    <h2>Apply Custom Styles</h2>
    <p>Overwrite styles of the default or selected theme of your site.</p>
    <form method="post" class="blog-dashboard-form">
      {% csrf_token %}
      <div class="form-control">
        <label for="custom_styles">Custom Styles</label>
        <textarea id="custom_styles" name="custom_styles">{{ custom_styles }}</textarea>
      </div>
      <div class="form-control">
        <label for="custom_music_player_styles">Custom Music Player Styles</label>
        <textarea id="custom_music_player_styles" name="custom_music_player_styles">{{ custom_music_player_styles }}</textarea>
      </div>
      <div>
        <button type="button">Preview</button>
        <button type="submit">Publish</button>
      </div>
    </form>
  </div>
  <script></script>
</main>
{% endblock %}
